modules/custom/portal-firmas-service/src/main/resources/META-INF/wsdl/AdminService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:request="urn:juntadeandalucia:cice:pfirma:admin:request:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:admin:v2.0" name="AdminServiceService" targetNamespace="urn:juntadeandalucia:cice:pfirma:admin:v2.0">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:request="urn:juntadeandalucia:cice:pfirma:admin:request:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:admin:v2.0">
			
  <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:type:v2.0" schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/AdminService?xsd=type.xsd"/>		
			
  <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:admin:request:v2.0" schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/AdminService?xsd=admin.xsd"/>
		
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="insertUserJob">
    <wsdl:part element="request:insertUserJob" name="insertUserJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserEmailResponse">
    <wsdl:part element="request:updateUserEmailResponse" name="updateUserEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserJobResponse">
    <wsdl:part element="request:insertUserJobResponse" name="insertUserJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserEmail">
    <wsdl:part element="request:insertUserEmail" name="insertUserEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserJob">
    <wsdl:part element="request:deleteUserJob" name="deleteUserJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDocumentsType">
    <wsdl:part element="request:deleteDocumentsType" name="deleteDocumentsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserEmail">
    <wsdl:part element="request:deleteUserEmail" name="deleteUserEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserResponse">
    <wsdl:part element="request:insertUserResponse" name="insertUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateJobResponse">
    <wsdl:part element="request:updateJobResponse" name="updateJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserProfile">
    <wsdl:part element="request:deleteUserProfile" name="deleteUserProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteJobResponse">
    <wsdl:part element="request:deleteJobResponse" name="deleteJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertJob">
    <wsdl:part element="request:insertJob" name="insertJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertJobResponse">
    <wsdl:part element="request:insertJobResponse" name="insertJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserProfile">
    <wsdl:part element="request:insertUserProfile" name="insertUserProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserJobResponse">
    <wsdl:part element="request:updateUserJobResponse" name="updateUserJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertManyUserProfile">
    <wsdl:part element="request:insertManyUserProfile" name="insertManyUserProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateJob">
    <wsdl:part element="request:updateJob" name="updateJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserProfileResponse">
    <wsdl:part element="request:updateUserProfileResponse" name="updateUserProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocumentsTypeResponse">
    <wsdl:part element="request:updateDocumentsTypeResponse" name="updateDocumentsTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserLDAPResponse">
    <wsdl:part element="request:updateUserLDAPResponse" name="updateUserLDAPResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserEmail">
    <wsdl:part element="request:updateUserEmail" name="updateUserEmail">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUser">
    <wsdl:part element="request:updateUser" name="updateUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserProfile">
    <wsdl:part element="request:updateUserProfile" name="updateUserProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserValidResponse">
    <wsdl:part element="request:updateUserValidResponse" name="updateUserValidResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserLDAPResponse">
    <wsdl:part element="request:insertUserLDAPResponse" name="insertUserLDAPResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserEmailResponse">
    <wsdl:part element="request:insertUserEmailResponse" name="insertUserEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteManyUserProfileResponse">
    <wsdl:part element="request:deleteManyUserProfileResponse" name="deleteManyUserProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserResponse">
    <wsdl:part element="request:deleteUserResponse" name="deleteUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertManyUserProfileResponse">
    <wsdl:part element="request:insertManyUserProfileResponse" name="insertManyUserProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserJob">
    <wsdl:part element="request:updateUserJob" name="updateUserJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserLDAP">
    <wsdl:part element="request:deleteUserLDAP" name="deleteUserLDAP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteManyUserProfile">
    <wsdl:part element="request:deleteManyUserProfile" name="deleteManyUserProfile">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteJob">
    <wsdl:part element="request:deleteJob" name="deleteJob">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertDocumentsType">
    <wsdl:part element="request:insertDocumentsType" name="insertDocumentsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserProfileResponse">
    <wsdl:part element="request:insertUserProfileResponse" name="insertUserProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDocumentsTypeResponse">
    <wsdl:part element="request:deleteDocumentsTypeResponse" name="deleteDocumentsTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserResponse">
    <wsdl:part element="request:updateUserResponse" name="updateUserResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserJobResponse">
    <wsdl:part element="request:deleteUserJobResponse" name="deleteUserJobResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocumentsType">
    <wsdl:part element="request:updateDocumentsType" name="updateDocumentsType">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertDocumentsTypeResponse">
    <wsdl:part element="request:insertDocumentsTypeResponse" name="insertDocumentsTypeResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserLDAP">
    <wsdl:part element="request:updateUserLDAP" name="updateUserLDAP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserEmailResponse">
    <wsdl:part element="request:deleteUserEmailResponse" name="deleteUserEmailResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pfirmaException">
    <wsdl:part element="type:exceptionInfo" name="pfirmaException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUser">
    <wsdl:part element="request:insertUser" name="insertUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertUserLDAP">
    <wsdl:part element="request:insertUserLDAP" name="insertUserLDAP">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserLDAPResponse">
    <wsdl:part element="request:deleteUserLDAPResponse" name="deleteUserLDAPResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUser">
    <wsdl:part element="request:deleteUser" name="deleteUser">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateUserValid">
    <wsdl:part element="request:updateUserValid" name="updateUserValid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteUserProfileResponse">
    <wsdl:part element="request:deleteUserProfileResponse" name="deleteUserProfileResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AdminService">
    <wsdl:operation name="insertDocumentsType">
      <wsdl:input message="pfirma:insertDocumentsType" name="insertDocumentsType">
    </wsdl:input>
      <wsdl:output message="pfirma:insertDocumentsTypeResponse" name="insertDocumentsTypeResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDocumentsType">
      <wsdl:input message="pfirma:deleteDocumentsType" name="deleteDocumentsType">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteDocumentsTypeResponse" name="deleteDocumentsTypeResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentsType">
      <wsdl:input message="pfirma:updateDocumentsType" name="updateDocumentsType">
    </wsdl:input>
      <wsdl:output message="pfirma:updateDocumentsTypeResponse" name="updateDocumentsTypeResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <wsdl:input message="pfirma:insertUser" name="insertUser">
    </wsdl:input>
      <wsdl:output message="pfirma:insertUserResponse" name="insertUserResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <wsdl:input message="pfirma:updateUser" name="updateUser">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserResponse" name="updateUserResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <wsdl:input message="pfirma:deleteUser" name="deleteUser">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteUserResponse" name="deleteUserResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertJob">
      <wsdl:input message="pfirma:insertJob" name="insertJob">
    </wsdl:input>
      <wsdl:output message="pfirma:insertJobResponse" name="insertJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateJob">
      <wsdl:input message="pfirma:updateJob" name="updateJob">
    </wsdl:input>
      <wsdl:output message="pfirma:updateJobResponse" name="updateJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteJob">
      <wsdl:input message="pfirma:deleteJob" name="deleteJob">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteJobResponse" name="deleteJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserEmail">
      <wsdl:input message="pfirma:insertUserEmail" name="insertUserEmail">
    </wsdl:input>
      <wsdl:output message="pfirma:insertUserEmailResponse" name="insertUserEmailResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserEmail">
      <wsdl:input message="pfirma:updateUserEmail" name="updateUserEmail">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserEmailResponse" name="updateUserEmailResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserEmail">
      <wsdl:input message="pfirma:deleteUserEmail" name="deleteUserEmail">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteUserEmailResponse" name="deleteUserEmailResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserProfile">
      <wsdl:input message="pfirma:insertUserProfile" name="insertUserProfile">
    </wsdl:input>
      <wsdl:output message="pfirma:insertUserProfileResponse" name="insertUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertManyUserProfile">
      <wsdl:input message="pfirma:insertManyUserProfile" name="insertManyUserProfile">
    </wsdl:input>
      <wsdl:output message="pfirma:insertManyUserProfileResponse" name="insertManyUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserProfile">
      <wsdl:input message="pfirma:updateUserProfile" name="updateUserProfile">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserProfileResponse" name="updateUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserProfile">
      <wsdl:input message="pfirma:deleteUserProfile" name="deleteUserProfile">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteUserProfileResponse" name="deleteUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteManyUserProfile">
      <wsdl:input message="pfirma:deleteManyUserProfile" name="deleteManyUserProfile">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteManyUserProfileResponse" name="deleteManyUserProfileResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserJob">
      <wsdl:input message="pfirma:insertUserJob" name="insertUserJob">
    </wsdl:input>
      <wsdl:output message="pfirma:insertUserJobResponse" name="insertUserJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserJob">
      <wsdl:input message="pfirma:updateUserJob" name="updateUserJob">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserJobResponse" name="updateUserJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserJob">
      <wsdl:input message="pfirma:deleteUserJob" name="deleteUserJob">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteUserJobResponse" name="deleteUserJobResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserLDAP">
      <wsdl:input message="pfirma:insertUserLDAP" name="insertUserLDAP">
    </wsdl:input>
      <wsdl:output message="pfirma:insertUserLDAPResponse" name="insertUserLDAPResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserLDAP">
      <wsdl:input message="pfirma:updateUserLDAP" name="updateUserLDAP">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserLDAPResponse" name="updateUserLDAPResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserLDAP">
      <wsdl:input message="pfirma:deleteUserLDAP" name="deleteUserLDAP">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteUserLDAPResponse" name="deleteUserLDAPResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserValid">
      <wsdl:input message="pfirma:updateUserValid" name="updateUserValid">
    </wsdl:input>
      <wsdl:output message="pfirma:updateUserValidResponse" name="updateUserValidResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceSoapBinding" type="pfirma:AdminService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="insertDocumentsType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertDocumentsType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertDocumentsTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDocumentsType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteDocumentsType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteDocumentsTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentsType">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDocumentsType">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDocumentsTypeResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUser">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUser">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertUserEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertUserEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserEmail">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserEmail">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserEmailResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertUserProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertUserProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertManyUserProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertManyUserProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertManyUserProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteManyUserProfile">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteManyUserProfile">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteManyUserProfileResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertUserJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertUserJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserJob">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserJob">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserJobResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertUserLDAP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertUserLDAP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertUserLDAPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserLDAP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserLDAP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserLDAPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteUserLDAP">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteUserLDAP">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteUserLDAPResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateUserValid">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateUserValid">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateUserValidResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminServiceService">
    <wsdl:port binding="pfirma:AdminServiceSoapBinding" name="AdminServicePort">
      <soap:address location="http://10.1.125.220:8080/pfirma/servicesv2/AdminService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>