modules/custom/portal-firmas-service/src/main/resources/META-INF/wsdl/QueryService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:request="urn:juntadeandalucia:cice:pfirma:query:request:v2.0"
                  xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:query:v2.0" name="QueryServiceService"
                  targetNamespace="urn:juntadeandalucia:cice:pfirma:query:v2.0">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                    xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0"
                    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                    xmlns:request="urn:juntadeandalucia:cice:pfirma:query:request:v2.0"
                    xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:query:v2.0">

            <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:type:v2.0"
                        schemaLocation="type.xsd"/>

            <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:query:request:v2.0"
                        schemaLocation="query.xsd"/>
            <!--
                        <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:type:v2.0"
                                    schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/QueryService?xsd=type.xsd"/>

                        <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:query:request:v2.0"
                                    schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/QueryService?xsd=query.xsd"/>
            -->
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="queryDocumentTypesResponse">
        <wsdl:part element="request:queryDocumentTypesResponse" name="queryDocumentTypesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsersJob">
        <wsdl:part element="request:queryUsersJob" name="queryUsersJob">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="querySign">
        <wsdl:part element="request:querySign" name="querySign">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryHistoricResponse">
        <wsdl:part element="request:queryHistoricResponse" name="queryHistoricResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsersResponse">
        <wsdl:part element="request:queryUsersResponse" name="queryUsersResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryStates">
        <wsdl:part element="request:queryStates" name="queryStates">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadDocument">
        <wsdl:part element="request:downloadDocument" name="downloadDocument">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDetailedJobsUser">
        <wsdl:part element="request:queryDetailedJobsUser" name="queryDetailedJobsUser">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobsApp">
        <wsdl:part element="request:queryJobsApp" name="queryJobsApp">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryHistoric">
        <wsdl:part element="request:queryHistoric" name="queryHistoric">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryCSVAppResponse">
        <wsdl:part element="request:queryCSVAppResponse" name="queryCSVAppResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadSign">
        <wsdl:part element="request:downloadSign" name="downloadSign">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryRequest">
        <wsdl:part element="request:queryRequest" name="queryRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDetailedJobsUserResponse">
        <wsdl:part element="request:queryDetailedJobsUserResponse" name="queryDetailedJobsUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadDocumentResponse">
        <wsdl:part element="request:downloadDocumentResponse" name="downloadDocumentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobs">
        <wsdl:part element="request:queryJobs" name="queryJobs">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="pfirmaException">
        <wsdl:part element="type:exceptionInfo" name="pfirmaException">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="downloadSignResponse">
        <wsdl:part element="request:downloadSignResponse" name="downloadSignResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsersApp">
        <wsdl:part element="request:queryUsersApp" name="queryUsersApp">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsersAppResponse">
        <wsdl:part element="request:queryUsersAppResponse" name="queryUsersAppResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsers">
        <wsdl:part element="request:queryUsers" name="queryUsers">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryUsersJobResponse">
        <wsdl:part element="request:queryUsersJobResponse" name="queryUsersJobResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobsUserResponse">
        <wsdl:part element="request:queryJobsUserResponse" name="queryJobsUserResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryCSVApp">
        <wsdl:part element="request:queryCSVApp" name="queryCSVApp">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobsResponse">
        <wsdl:part element="request:queryJobsResponse" name="queryJobsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryRequestResponse">
        <wsdl:part element="request:queryRequestResponse" name="queryRequestResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDocument">
        <wsdl:part element="request:queryDocument" name="queryDocument">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryComments">
        <wsdl:part element="request:queryComments" name="queryComments">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobsUser">
        <wsdl:part element="request:queryJobsUser" name="queryJobsUser">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDocumentResponse">
        <wsdl:part element="request:queryDocumentResponse" name="queryDocumentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCSV">
        <wsdl:part element="request:getCSV" name="getCSV">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryStatesResponse">
        <wsdl:part element="request:queryStatesResponse" name="queryStatesResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="querySignResponse">
        <wsdl:part element="request:querySignResponse" name="querySignResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCSVResponse">
        <wsdl:part element="request:getCSVResponse" name="getCSVResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryJobsAppResponse">
        <wsdl:part element="request:queryJobsAppResponse" name="queryJobsAppResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryDocumentTypes">
        <wsdl:part element="request:queryDocumentTypes" name="queryDocumentTypes">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="queryCommentsResponse">
        <wsdl:part element="request:queryCommentsResponse" name="queryCommentsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="QueryService">
        <wsdl:operation name="downloadSign">
            <wsdl:input message="pfirma:downloadSign" name="downloadSign">
            </wsdl:input>
            <wsdl:output message="pfirma:downloadSignResponse" name="downloadSignResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsers">
            <wsdl:input message="pfirma:queryUsers" name="queryUsers">
            </wsdl:input>
            <wsdl:output message="pfirma:queryUsersResponse" name="queryUsersResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDocumentTypes">
            <wsdl:input message="pfirma:queryDocumentTypes" name="queryDocumentTypes">
            </wsdl:input>
            <wsdl:output message="pfirma:queryDocumentTypesResponse" name="queryDocumentTypesResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadDocument">
            <wsdl:input message="pfirma:downloadDocument" name="downloadDocument">
            </wsdl:input>
            <wsdl:output message="pfirma:downloadDocumentResponse" name="downloadDocumentResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryStates">
            <wsdl:input message="pfirma:queryStates" name="queryStates">
            </wsdl:input>
            <wsdl:output message="pfirma:queryStatesResponse" name="queryStatesResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryRequest">
            <wsdl:input message="pfirma:queryRequest" name="queryRequest">
            </wsdl:input>
            <wsdl:output message="pfirma:queryRequestResponse" name="queryRequestResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobs">
            <wsdl:input message="pfirma:queryJobs" name="queryJobs">
            </wsdl:input>
            <wsdl:output message="pfirma:queryJobsResponse" name="queryJobsResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryComments">
            <wsdl:input message="pfirma:queryComments" name="queryComments">
            </wsdl:input>
            <wsdl:output message="pfirma:queryCommentsResponse" name="queryCommentsResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryHistoric">
            <wsdl:input message="pfirma:queryHistoric" name="queryHistoric">
            </wsdl:input>
            <wsdl:output message="pfirma:queryHistoricResponse" name="queryHistoricResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobsUser">
            <wsdl:input message="pfirma:queryJobsUser" name="queryJobsUser">
            </wsdl:input>
            <wsdl:output message="pfirma:queryJobsUserResponse" name="queryJobsUserResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDetailedJobsUser">
            <wsdl:input message="pfirma:queryDetailedJobsUser" name="queryDetailedJobsUser">
            </wsdl:input>
            <wsdl:output message="pfirma:queryDetailedJobsUserResponse" name="queryDetailedJobsUserResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsersJob">
            <wsdl:input message="pfirma:queryUsersJob" name="queryUsersJob">
            </wsdl:input>
            <wsdl:output message="pfirma:queryUsersJobResponse" name="queryUsersJobResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsersApp">
            <wsdl:input message="pfirma:queryUsersApp" name="queryUsersApp">
            </wsdl:input>
            <wsdl:output message="pfirma:queryUsersAppResponse" name="queryUsersAppResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobsApp">
            <wsdl:input message="pfirma:queryJobsApp" name="queryJobsApp">
            </wsdl:input>
            <wsdl:output message="pfirma:queryJobsAppResponse" name="queryJobsAppResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDocument">
            <wsdl:input message="pfirma:queryDocument" name="queryDocument">
            </wsdl:input>
            <wsdl:output message="pfirma:queryDocumentResponse" name="queryDocumentResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="querySign">
            <wsdl:input message="pfirma:querySign" name="querySign">
            </wsdl:input>
            <wsdl:output message="pfirma:querySignResponse" name="querySignResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCSV">
            <wsdl:input message="pfirma:getCSV" name="getCSV">
            </wsdl:input>
            <wsdl:output message="pfirma:getCSVResponse" name="getCSVResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryCSVApp">
            <wsdl:input message="pfirma:queryCSVApp" name="queryCSVApp">
            </wsdl:input>
            <wsdl:output message="pfirma:queryCSVAppResponse" name="queryCSVAppResponse">
            </wsdl:output>
            <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="QueryServiceServiceSoapBinding" type="pfirma:QueryService">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="downloadSign">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="downloadSign">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadSignResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsers">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryUsers">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryUsersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDocumentTypes">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryDocumentTypes">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryDocumentTypesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="downloadDocument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="downloadDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="downloadDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryStates">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryStates">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryStatesResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobs">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryJobs">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryJobsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryRequest">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryRequestResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryComments">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryComments">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryCommentsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryHistoric">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryHistoric">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryHistoricResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobsUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryJobsUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryJobsUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDetailedJobsUser">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryDetailedJobsUser">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryDetailedJobsUserResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsersJob">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryUsersJob">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryUsersJobResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryUsersApp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryUsersApp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryUsersAppResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryJobsApp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryJobsApp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryJobsAppResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryDocument">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryDocument">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryDocumentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="querySign">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="querySign">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="querySignResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="getCSV">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getCSV">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getCSVResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="queryCSVApp">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="queryCSVApp">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="queryCSVAppResponse">
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="pfirmaException">
                <soap:fault name="pfirmaException" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="QueryServiceService">
        <wsdl:port binding="pfirma:QueryServiceServiceSoapBinding" name="QueryServicePort">
            <soap:address location="http://10.1.125.220:8080/pfirma/servicesv2/QueryService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>