modules/custom/sap-integration-services/src/main/resources/META-INF/wsdl/jornadaNomina.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal7.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="7"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZpeStActJornadaNomina">
                <xsd:sequence>
                    <xsd:element name="Pernr" type="n0:numeric8"/>
                    <xsd:element name="FechaInicio" type="n0:date10"/>
                    <xsd:element name="Iban" type="n0:char34"/>
                    <xsd:element name="IrpfSolicitado" type="n0:decimal4.2"/>
                    <xsd:element name="HeInicio" type="n0:time"/>
                    <xsd:element name="HeFin" type="n0:time"/>
                    <xsd:element name="HeTipoRetribucion" type="n0:char1"/>
                    <xsd:element name="PlusCcnomina" type="n0:char4"/>
                    <xsd:element name="PlusUnidades" type="tns:decimal7.2"/>
                    <xsd:element name="MarcajeHora" type="n0:time"/>
                    <xsd:element name="MarcajeMotivo" type="tns:char4"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapireturn1">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Id" type="n0:char20"/>
                    <xsd:element name="Number" type="n0:numeric3"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZPeActJornadaNomina">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TEmpleados" type="tns:ZpeStActJornadaNomina"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZPeActJornadaNominaResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Return" type="tns:Bapireturn1"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions"
                    xmlns:n0="urn:sap-com:document:sap:soap:functions:mc-style">
            <xsd:import namespace="urn:sap-com:document:sap:soap:functions:mc-style"/>
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char34">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="34"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal4.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="4"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="time">
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZPeActJornadaNomina">
        <wsdl:part name="parameters" element="tns:ZPeActJornadaNomina"/>
    </wsdl:message>
    <wsdl:message name="ZPeActJornadaNominaResponse">
        <wsdl:part name="parameter" element="tns:ZPeActJornadaNominaResponse"/>
    </wsdl:message>
    <wsdl:portType name="Z_WS_PE_ACT_JORNADA_NOMINA">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__Z_WS_PE_ACT_JORNADA_NOMINA"/>
        </wsp:Policy>
        <wsdl:operation name="ZPeActJornadaNomina">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZPeActJornadaNomina"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZPeActJornadaNomina"/>
            <wsdl:output message="tns:ZPeActJornadaNominaResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_WS_PE_ACT_JORNADA_NOMINA" type="tns:Z_WS_PE_ACT_JORNADA_NOMINA">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_ACT_JORNADA_NOMINA"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeActJornadaNomina">
            <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_ACT_JORNADA_NOMINA:ZPeActJornadaNominaRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_WS_PE_ACT_JORNADA_NOMINA_soap12" type="tns:Z_WS_PE_ACT_JORNADA_NOMINA">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_ACT_JORNADA_NOMINA_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeActJornadaNomina">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_ACT_JORNADA_NOMINA:ZPeActJornadaNominaRequest" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_WS_PE_ACT_JORNADA_NOMINA">
        <wsdl:port name="Z_WS_PE_ACT_JORNADA_NOMINA" binding="tns:Z_WS_PE_ACT_JORNADA_NOMINA">
            <soap:address location="http://tc0002.desevilla.org:8010/sap/bc/srt/rfc/sap/z_ws_pe_act_jornada_nomina/010/z_ws_pe_act_jornada_nomina/z_ws_pe_act_jornada_nomina"/>
        </wsdl:port>
        <wsdl:port name="Z_WS_PE_ACT_JORNADA_NOMINA_soap12" binding="tns:Z_WS_PE_ACT_JORNADA_NOMINA_soap12">
            <wsoap12:address location="http://tc0002.desevilla.org:8010/sap/bc/srt/rfc/sap/z_ws_pe_act_jornada_nomina/010/z_ws_pe_act_jornada_nomina/z_ws_pe_act_jornada_nomina"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>