modules/custom/sap-integration-services/src/main/resources/META-INF/wsdl/z_ws_pe_empleado_relac_laboral.wsdl

<wsdl:definitions
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
        xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
        xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
        xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
        xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
        xmlns:n1="urn:sap-com:document:sap:rfc:functions"
        targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
    <wsdl:documentation>
        <sidl:sidl
                xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing
                        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled
                        xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsp:All
                        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding
                            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                            xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                            xmlns:wsa="http://www.w3.org/2005/08/addressing"
                            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                            xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                            xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing
                        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled
                        xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer
                        xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                        uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
                <wsp:All
                        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding
                            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                            xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                            xmlns:wsa="http://www.w3.org/2005/08/addressing"
                            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                            xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                            xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_EMPLEADO_RELAC_LABORAL_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing
                        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled
                        xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsp:All
                        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding
                            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                            xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                            xmlns:wsa="http://www.w3.org/2005/08/addressing"
                            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                            xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                            xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing
                        xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled
                        xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer
                        xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                        uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
                <wsp:All
                        xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding
                            xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                            xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                            xmlns:wsa="http://www.w3.org/2005/08/addressing"
                            xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                            xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                            xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session
                        xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>762C73CC36031EDE95D6D6507F8184D1
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZPeEmpleadoRelacLaboral">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required
                        xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit
                        xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking
                        xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM
                        xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema
                xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char35">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="35"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char5">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="5"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ZpeStEmpleadoRelacLaboral">
                <xsd:sequence>
                    <xsd:element name="Pernr" type="n0:numeric8"/>
                    <xsd:element name="FantigEmpresa" type="tns:date10"/>
                    <xsd:element name="FantigCategoria" type="tns:date10"/>
                    <xsd:element name="CategoriaId" type="n0:char3"/>
                    <xsd:element name="CategoriaDesc" type="n0:char40"/>
                    <xsd:element name="GrupoProfId" type="tns:char8"/>
                    <xsd:element name="AreaPersoId" type="tns:char2"/>
                    <xsd:element name="SubgrupoProfId" type="tns:char2"/>
                    <xsd:element name="ContratoId" type="tns:char5"/>
                    <xsd:element name="MayorDedicacion" type="tns:char2"/>
                    <xsd:element name="GrupoSubgrupoDesc" type="tns:char35"/>
                    <xsd:element name="IrpfCalculado" type="n0:decimal4.2"/>
                    <xsd:element name="IrpfSolicitado" type="n0:decimal4.2"/>
                    <xsd:element name="IrpfAplicado" type="n0:decimal4.2"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZpeStEmpleadoRelacLaboral">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZpeStEmpleadoRelacLaboral" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZPeEmpleadoRelacLaboral">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Pernr" type="n0:numeric8"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZPeEmpleadoRelacLaboralResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TEmpleados" type="tns:TableOfZpeStEmpleadoRelacLaboral"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
        <xsd:schema
                xmlns:tns="urn:sap-com:document:sap:rfc:functions"
                xmlns:n0="urn:sap-com:document:sap:soap:functions:mc-style" attributeFormDefault="qualified"
                targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:soap:functions:mc-style"/>
            <xsd:simpleType name="char3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal4.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="4"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZPeEmpleadoRelacLaboral">
        <wsdl:part name="parameters" element="tns:ZPeEmpleadoRelacLaboral"/>
    </wsdl:message>
    <wsdl:message name="ZPeEmpleadoRelacLaboralResponse">
        <wsdl:part name="parameter" element="tns:ZPeEmpleadoRelacLaboralResponse"/>
    </wsdl:message>
    <wsdl:portType name="Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__Z_WS_PE_EMPLEADO_RELAC_LABORAL"/>
        </wsp:Policy>
        <wsdl:operation name="ZPeEmpleadoRelacLaboral">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZPeEmpleadoRelacLaboral"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZPeEmpleadoRelacLaboral"/>
            <wsdl:output message="tns:ZPeEmpleadoRelacLaboralResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_WS_PE_EMPLEADO_RELAC_LABORAL" type="tns:Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_EMPLEADO_RELAC_LABORAL"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeEmpleadoRelacLaboral">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_EMPLEADO_RELAC_LABORAL:ZPeEmpleadoRelacLaboralRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_WS_PE_EMPLEADO_RELAC_LABORAL_soap12" type="tns:Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_EMPLEADO_RELAC_LABORAL_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeEmpleadoRelacLaboral">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_EMPLEADO_RELAC_LABORAL:ZPeEmpleadoRelacLaboralRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_WS_PE_EMPLEADO_RELAC_LABORAL">
        <wsdl:port name="Z_WS_PE_EMPLEADO_RELAC_LABORAL" binding="tns:Z_WS_PE_EMPLEADO_RELAC_LABORAL">
            <soap:address
                    location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_empleado_relac_laboral/010/z_ws_pe_empleado_relac_laboral/z_ws_pe_empleado_relac_laboral"/>
        </wsdl:port>
        <wsdl:port name="Z_WS_PE_EMPLEADO_RELAC_LABORAL_soap12" binding="tns:Z_WS_PE_EMPLEADO_RELAC_LABORAL_soap12">
            <wsoap12:address
                    location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_empleado_relac_laboral/010/z_ws_pe_empleado_relac_laboral/z_ws_pe_empleado_relac_laboral"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>