modules/custom/sap-integration-services/src/main/resources/META-INF/wsdl/Z_WS_PE_MARCAJES_HISTORICO_ACT.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_MARCAJES_HISTORICO_ACT_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>762C73CC36031EDDB1F9AFD7C2110291</sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZPeMarcajesHistoricoActual">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema xmlns:tns="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char12">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="12"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char15">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="15"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="time">
                <xsd:restriction base="xsd:time">
                    <xsd:pattern value="[0-9]{2}:[0-9]{2}:[0-9]{2}"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="ZpeStMarcajesHistoricoActu">
                <xsd:sequence>
                    <xsd:element name="Pernr" type="n0:numeric8"/>
                    <xsd:element name="Fecha" type="n0:date10"/>
                    <xsd:element name="Ent1" type="n0:char15"/>
                    <xsd:element name="Sal1" type="n0:char15"/>
                    <xsd:element name="Ent2" type="n0:char15"/>
                    <xsd:element name="Sal2" type="n0:char15"/>
                    <xsd:element name="Ent3" type="n0:char15"/>
                    <xsd:element name="Sal3" type="n0:char15"/>
                    <xsd:element name="Ent4" type="n0:char15"/>
                    <xsd:element name="Sal4" type="n0:char15"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZpeStMarcajesHistoricoActu">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZpeStMarcajesHistoricoActu" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZPeMarcajesHistoricoActual">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="FechaFin" type="n0:date10" minOccurs="0"/>
                        <xsd:element name="FechaInicio" type="n0:date10" minOccurs="0"/>
                        <xsd:element name="Pernr" type="n0:numeric8" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZPeMarcajesHistoricoActualResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="TEmpleados" type="tns:TableOfZpeStMarcajesHistoricoActu"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZPeMarcajesHistoricoActual">
        <wsdl:part name="parameters" element="tns:ZPeMarcajesHistoricoActual"/>
    </wsdl:message>
    <wsdl:message name="ZPeMarcajesHistoricoActualResponse">
        <wsdl:part name="parameter" element="tns:ZPeMarcajesHistoricoActualResponse"/>
    </wsdl:message>
    <wsdl:portType name="Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__Z_WS_PE_MARCAJES_HISTORICO_ACT"/>
        </wsp:Policy>
        <wsdl:operation name="ZPeMarcajesHistoricoActual">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZPeMarcajesHistoricoActual"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZPeMarcajesHistoricoActual"/>
            <wsdl:output message="tns:ZPeMarcajesHistoricoActualResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_WS_PE_MARCAJES_HISTORICO_ACT" type="tns:Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_MARCAJES_HISTORICO_ACT"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeMarcajesHistoricoActual">
            <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_MARCAJES_HISTORICO_ACT:ZPeMarcajesHistoricoActualRequest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_WS_PE_MARCAJES_HISTORICO_ACT_soap12" type="tns:Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_MARCAJES_HISTORICO_ACT_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeMarcajesHistoricoActual">
            <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_MARCAJES_HISTORICO_ACT:ZPeMarcajesHistoricoActualRequest" style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_WS_PE_MARCAJES_HISTORICO_ACT">
        <wsdl:port name="Z_WS_PE_MARCAJES_HISTORICO_ACT" binding="tns:Z_WS_PE_MARCAJES_HISTORICO_ACT">
            <soap:address location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_marcajes_historico_act/010/z_ws_pe_marcajes_historico_act/z_ws_pe_marcajes_historico_act"/>
        </wsdl:port>
        <wsdl:port name="Z_WS_PE_MARCAJES_HISTORICO_ACT_soap12" binding="tns:Z_WS_PE_MARCAJES_HISTORICO_ACT_soap12">
            <wsoap12:address location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_marcajes_historico_act/010/z_ws_pe_marcajes_historico_act/z_ws_pe_marcajes_historico_act"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>