modules/custom/sap-integration-services/src/main/resources/META-INF/wsdl/z_ws_pe_detecnecform.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style"
                  xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
                  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
                  xmlns:n1="urn:sap-com:document:sap:rfc:functions">
    <wsdl:documentation>
        <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
    </wsdl:documentation>
    <wsp:UsingPolicy wsdl:required="true"/>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_DETECNECFORM">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="BN__Z_WS_PE_DETECNECFORM_soap12">
        <wsp:ExactlyOne>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedMimeSerialization
                        xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization"
                        wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
            <wsp:All>
                <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
                <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false
                </sapattahnd:Enabled>
                <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml"
                                                xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/"
                                                wsp:Optional="true"/>
                <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
                    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
                                         xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy"
                                         xmlns:wsa="http://www.w3.org/2005/08/addressing"
                                         xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512"
                                         xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility"
                                         xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
                        <wsp:Policy>
                            <sp:TransportToken>
                                <wsp:Policy>
                                    <sp:HttpsToken>
                                        <wsp:Policy>
                                            <sp:HttpBasicAuthentication/>
                                        </wsp:Policy>
                                    </sp:HttpsToken>
                                </wsp:Policy>
                            </sp:TransportToken>
                            <sp:AlgorithmSuite>
                                <wsp:Policy>
                                    <sp:Basic128Rsa15/>
                                </wsp:Policy>
                            </sp:AlgorithmSuite>
                            <sp:Layout>
                                <wsp:Policy>
                                    <sp:Strict/>
                                </wsp:Policy>
                            </sp:Layout>
                        </wsp:Policy>
                    </sp:TransportBinding>
                </wsp:All>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="IF__Z_WS_PE_DETECNECFORM">
        <wsp:ExactlyOne>
            <wsp:All>
                <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
                    <sapsession:enableSession>false</sapsession:enableSession>
                </sapsession:Session>
                <sapcentraladmin:CentralAdministration
                        xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/"
                        wsp:Optional="true">
                    <sapcentraladmin:BusinessApplicationID>762C73CC36031EDE95D6D6507F8184D1
                    </sapcentraladmin:BusinessApplicationID>
                </sapcentraladmin:CentralAdministration>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsp:Policy wsu:Id="OP__ZPeDetecnecform">
        <wsp:ExactlyOne>
            <wsp:All>
                <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no
                </saptrhnw05:required>
                <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false
                </sapcomhnd:enableCommit>
                <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true
                </sapblock:enableBlocking>
                <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false
                </saprmnw05:enableWSRM>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions"
                    xmlns:tns="urn:sap-com:document:sap:rfc:functions">
            <xsd:simpleType name="char1">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="1"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char100">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="100"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char16">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="16"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char2">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char20">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="20"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char220">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="220"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char255">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="255"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char40">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="40"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char45">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="45"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char50">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="50"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="char9">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="9"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="clnt3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="date10">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="10"/>
                    <xsd:pattern value="\d\d\d\d-\d\d-\d\d"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="decimal10.2">
                <xsd:restriction base="xsd:decimal">
                    <xsd:totalDigits value="10"/>
                    <xsd:fractionDigits value="2"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric3">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="3"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric4">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="4"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric6">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="6"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="numeric8">
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="8"/>
                    <xsd:pattern value="\d*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:schema>
        <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style"
                    xmlns:n0="urn:sap-com:document:sap:rfc:functions">
            <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
            <xsd:complexType name="ZpeStDetecnecformConsulta">
                <xsd:sequence>
                    <xsd:element name="PlanFormacion" type="n0:char9"/>
                    <xsd:element name="NumFormuladaPor" type="n0:numeric8"/>
                    <xsd:element name="Estado" type="n0:char20"/>
                    <xsd:element name="Solicitante" type="n0:char40"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZhrEDetnecform">
                <xsd:sequence>
                    <xsd:element name="Mandt" type="n0:clnt3"/>
                    <xsd:element name="NumSolicitud" type="n0:numeric8"/>
                    <xsd:element name="NumFormuladaPor" type="n0:numeric8"/>
                    <xsd:element name="FormuladaPor" type="n0:char40"/>
                    <xsd:element name="Fecha" type="n0:date10"/>
                    <xsd:element name="NumSolicitante" type="n0:numeric8"/>
                    <xsd:element name="Solicitante" type="n0:char40"/>
                    <xsd:element name="Posicion" type="n0:char40"/>
                    <xsd:element name="UniOrg" type="n0:char40"/>
                    <xsd:element name="Denominacion" type="n0:numeric8"/>
                    <xsd:element name="Otras" type="n0:char100"/>
                    <xsd:element name="Transversal" type="n0:char1"/>
                    <xsd:element name="Clave" type="n0:char1"/>
                    <xsd:element name="RequerimientosTec" type="n0:char1"/>
                    <xsd:element name="AdaptacionNueTec" type="n0:char1"/>
                    <xsd:element name="NuevasFunciones" type="n0:char1"/>
                    <xsd:element name="NormativaPsc" type="n0:char1"/>
                    <xsd:element name="CumplimientoObj" type="n0:char1"/>
                    <xsd:element name="MejoraComGes" type="n0:char1"/>
                    <xsd:element name="ContenidosSenSoc" type="n0:char1"/>
                    <xsd:element name="Objetivo" type="n0:char255"/>
                    <xsd:element name="Resultados" type="n0:char255"/>
                    <xsd:element name="Propuesta" type="n0:char255"/>
                    <xsd:element name="Asistente01" type="n0:numeric8"/>
                    <xsd:element name="Asistente02" type="n0:numeric8"/>
                    <xsd:element name="Asistente03" type="n0:numeric8"/>
                    <xsd:element name="Asistente04" type="n0:numeric8"/>
                    <xsd:element name="Asistente05" type="n0:numeric8"/>
                    <xsd:element name="Asistente06" type="n0:numeric8"/>
                    <xsd:element name="Asistente07" type="n0:numeric8"/>
                    <xsd:element name="Asistente08" type="n0:numeric8"/>
                    <xsd:element name="Asistente09" type="n0:numeric8"/>
                    <xsd:element name="Asistente10" type="n0:numeric8"/>
                    <xsd:element name="NumEmpleados" type="n0:numeric4"/>
                    <xsd:element name="Duracion" type="xsd:int"/>
                    <xsd:element name="Valoracion" type="n0:decimal10.2"/>
                    <xsd:element name="AnioImparticion1" type="n0:char1"/>
                    <xsd:element name="AnioImparticion2" type="n0:char1"/>
                    <xsd:element name="FechaImparticion" type="n0:date10"/>
                    <xsd:element name="Cuatrimestre1" type="n0:char1"/>
                    <xsd:element name="Cuatrimestre2" type="n0:char1"/>
                    <xsd:element name="Cuatrimestre3" type="n0:char1"/>
                    <xsd:element name="Medios" type="n0:char100"/>
                    <xsd:element name="Interno" type="n0:char1"/>
                    <xsd:element name="Externo" type="n0:char1"/>
                    <xsd:element name="Docente1" type="n0:char50"/>
                    <xsd:element name="Docente2" type="n0:char50"/>
                    <xsd:element name="Observaciones" type="n0:char255"/>
                    <xsd:element name="FechaHoraEntrevista" type="n0:char16"/>
                    <xsd:element name="Autorizada" type="n0:char1"/>
                    <xsd:element name="FechaAprobacion" type="n0:date10"/>
                    <xsd:element name="ObservacionesFormacion" type="n0:char255"/>
                    <xsd:element name="TecnicoFormacion" type="n0:numeric8"/>
                    <xsd:element name="Origen" type="n0:char1"/>
                    <xsd:element name="ClaveFormacion" type="n0:char2"/>
                    <xsd:element name="PlanFormacion" type="n0:char9"/>
                    <xsd:element name="IdUniOrg" type="n0:numeric8"/>
                    <xsd:element name="Estado" type="n0:char20"/>
                    <xsd:element name="DenegadaDirec" type="n0:char1"/>
                    <xsd:element name="NumActividad" type="n0:numeric3"/>
                    <xsd:element name="Obligatoriedad" type="n0:char1"/>
                    <xsd:element name="Modalidad" type="n0:char1"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZpeStDetecnecformTipos">
                <xsd:sequence>
                    <xsd:element name="TipoObjid" type="n0:char45"/>
                    <xsd:element name="TipoStext" type="n0:char40"/>
                    <xsd:element name="GrupoObjid" type="n0:numeric8"/>
                    <xsd:element name="GrupoStext" type="n0:char40"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ZhrPlanesForma">
                <xsd:sequence>
                    <xsd:element name="Mandt" type="n0:clnt3"/>
                    <xsd:element name="Zzplanform" type="n0:char9"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Bapireturn1">
                <xsd:sequence>
                    <xsd:element name="Type" type="n0:char1"/>
                    <xsd:element name="Id" type="n0:char20"/>
                    <xsd:element name="Number" type="n0:numeric3"/>
                    <xsd:element name="Message" type="n0:char220"/>
                    <xsd:element name="LogNo" type="n0:char20"/>
                    <xsd:element name="LogMsgNo" type="n0:numeric6"/>
                    <xsd:element name="MessageV1" type="n0:char50"/>
                    <xsd:element name="MessageV2" type="n0:char50"/>
                    <xsd:element name="MessageV3" type="n0:char50"/>
                    <xsd:element name="MessageV4" type="n0:char50"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZhrEDetnecform">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZhrEDetnecform" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZpeStDetecnecformTipos">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZpeStDetecnecformTipos" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TableOfZhrPlanesForma">
                <xsd:sequence>
                    <xsd:element name="item" type="tns:ZhrPlanesForma" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ZPeDetecnecform">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="DetecnecformConsulta" type="tns:ZpeStDetecnecformConsulta" minOccurs="0"/>
                        <xsd:element name="DetecnecformInsert" type="tns:ZhrEDetnecform" minOccurs="0"/>
                        <xsd:element name="PlanFormacion" type="n0:char9" minOccurs="0"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ZPeDetecnecformResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="PlanesFormacion" type="tns:TableOfZhrPlanesForma"/>
                        <xsd:element name="Return" type="tns:Bapireturn1"/>
                        <xsd:element name="SolicitudesCons" type="tns:TableOfZhrEDetnecform"/>
                        <xsd:element name="TiposEventoPlanformacion" type="tns:TableOfZpeStDetecnecformTipos"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ZPeDetecnecform">
        <wsdl:part name="parameters" element="tns:ZPeDetecnecform"/>
    </wsdl:message>
    <wsdl:message name="ZPeDetecnecformResponse">
        <wsdl:part name="parameter" element="tns:ZPeDetecnecformResponse"/>
    </wsdl:message>
    <wsdl:portType name="Z_WS_PE_DETECNECFORM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#IF__Z_WS_PE_DETECNECFORM"/>
        </wsp:Policy>
        <wsdl:operation name="ZPeDetecnecform">
            <wsp:Policy>
                <wsp:PolicyReference URI="#OP__ZPeDetecnecform"/>
            </wsp:Policy>
            <wsdl:input message="tns:ZPeDetecnecform"/>
            <wsdl:output message="tns:ZPeDetecnecformResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Z_WS_PE_DETECNECFORM" type="tns:Z_WS_PE_DETECNECFORM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_DETECNECFORM"/>
        </wsp:Policy>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeDetecnecform">
            <soap:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_DETECNECFORM:ZPeDetecnecformRequest"
                    style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="Z_WS_PE_DETECNECFORM_soap12" type="tns:Z_WS_PE_DETECNECFORM">
        <wsp:Policy>
            <wsp:PolicyReference URI="#BN__Z_WS_PE_DETECNECFORM_soap12"/>
        </wsp:Policy>
        <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="ZPeDetecnecform">
            <wsoap12:operation
                    soapAction="urn:sap-com:document:sap:soap:functions:mc-style:Z_WS_PE_DETECNECFORM:ZPeDetecnecformRequest"
                    style="document"/>
            <wsdl:input>
                <wsoap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsoap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Z_WS_PE_DETECNECFORM">
        <wsdl:port name="Z_WS_PE_DETECNECFORM" binding="tns:Z_WS_PE_DETECNECFORM">
            <soap:address
                    location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_detecnecform/010/z_ws_pe_detecnecform/z_ws_pe_detecnecform"/>
        </wsdl:port>
        <wsdl:port name="Z_WS_PE_DETECNECFORM_soap12" binding="tns:Z_WS_PE_DETECNECFORM_soap12">
            <wsoap12:address
                    location="http://10.3.4.223:8010/sap/bc/srt/rfc/sap/z_ws_pe_detecnecform/010/z_ws_pe_detecnecform/z_ws_pe_detecnecform"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>