modules/custom/portal-firmas-service/src/main/resources/wsdl/ModifyService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:request="urn:juntadeandalucia:cice:pfirma:modify:request:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:modify:v2.0" name="ModifyServiceService" targetNamespace="urn:juntadeandalucia:cice:pfirma:modify:v2.0">
  <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:type="urn:juntadeandalucia:cice:pfirma:type:v2.0" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:request="urn:juntadeandalucia:cice:pfirma:modify:request:v2.0" xmlns:pfirma="urn:juntadeandalucia:cice:pfirma:modify:v2.0">
			
  <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:type:v2.0" schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/ModifyService?xsd=type.xsd"/>
			
  <xsd:import namespace="urn:juntadeandalucia:cice:pfirma:modify:request:v2.0" schemaLocation="http://10.1.125.220:8080/pfirma/servicesv2/ModifyService?xsd=modify.xsd"/>
		
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="updateRequestResponse">
    <wsdl:part element="request:updateRequestResponse" name="updateRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequestResponse">
    <wsdl:part element="request:deleteRequestResponse" name="deleteRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertDocument">
    <wsdl:part element="request:insertDocument" name="insertDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertSigners">
    <wsdl:part element="request:insertSigners" name="insertSigners">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSignersResponse">
    <wsdl:part element="request:deleteSignersResponse" name="deleteSignersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequestFromSign">
    <wsdl:part element="request:createRequestFromSign" name="createRequestFromSign">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part element="request:createRequest" name="createRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequestResponse">
    <wsdl:part element="request:createRequestResponse" name="createRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendRequestResponse">
    <wsdl:part element="request:sendRequestResponse" name="sendRequestResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part element="request:updateRequest" name="updateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertDocumentResponse">
    <wsdl:part element="request:insertDocumentResponse" name="insertDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendRequest">
    <wsdl:part element="request:sendRequest" name="sendRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteSigners">
    <wsdl:part element="request:deleteSigners" name="deleteSigners">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocumentAccessResponse">
    <wsdl:part element="request:updateDocumentAccessResponse" name="updateDocumentAccessResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part element="request:deleteRequest" name="deleteRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDateNextSignerResponse">
    <wsdl:part element="request:updateDateNextSignerResponse" name="updateDateNextSignerResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDocument">
    <wsdl:part element="request:deleteDocument" name="deleteDocument">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="createRequestFromSignResponse">
    <wsdl:part element="request:createRequestFromSignResponse" name="createRequestFromSignResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteDocumentResponse">
    <wsdl:part element="request:deleteDocumentResponse" name="deleteDocumentResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDocumentAccess">
    <wsdl:part element="request:updateDocumentAccess" name="updateDocumentAccess">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="pfirmaException">
    <wsdl:part element="type:exceptionInfo" name="pfirmaException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="insertSignersResponse">
    <wsdl:part element="request:insertSignersResponse" name="insertSignersResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateDateNextSigner">
    <wsdl:part element="request:updateDateNextSigner" name="updateDateNextSigner">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ModifyService">
    <wsdl:operation name="createRequest">
      <wsdl:input message="pfirma:createRequest" name="createRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:createRequestResponse" name="createRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRequestFromSign">
      <wsdl:input message="pfirma:createRequestFromSign" name="createRequestFromSign">
    </wsdl:input>
      <wsdl:output message="pfirma:createRequestFromSignResponse" name="createRequestFromSignResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <wsdl:input message="pfirma:updateRequest" name="updateRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:updateRequestResponse" name="updateRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <wsdl:input message="pfirma:deleteRequest" name="deleteRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteRequestResponse" name="deleteRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendRequest">
      <wsdl:input message="pfirma:sendRequest" name="sendRequest">
    </wsdl:input>
      <wsdl:output message="pfirma:sendRequestResponse" name="sendRequestResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertDocument">
      <wsdl:input message="pfirma:insertDocument" name="insertDocument">
    </wsdl:input>
      <wsdl:output message="pfirma:insertDocumentResponse" name="insertDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <wsdl:input message="pfirma:deleteDocument" name="deleteDocument">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteDocumentResponse" name="deleteDocumentResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertSigners">
      <wsdl:input message="pfirma:insertSigners" name="insertSigners">
    </wsdl:input>
      <wsdl:output message="pfirma:insertSignersResponse" name="insertSignersResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSigners">
      <wsdl:input message="pfirma:deleteSigners" name="deleteSigners">
    </wsdl:input>
      <wsdl:output message="pfirma:deleteSignersResponse" name="deleteSignersResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentAccess">
      <wsdl:input message="pfirma:updateDocumentAccess" name="updateDocumentAccess">
    </wsdl:input>
      <wsdl:output message="pfirma:updateDocumentAccessResponse" name="updateDocumentAccessResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDateNextSigner">
      <wsdl:input message="pfirma:updateDateNextSigner" name="updateDateNextSigner">
    </wsdl:input>
      <wsdl:output message="pfirma:updateDateNextSignerResponse" name="updateDateNextSignerResponse">
    </wsdl:output>
      <wsdl:fault message="pfirma:pfirmaException" name="pfirmaException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModifyServiceServiceSoapBinding" type="pfirma:ModifyService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRequestFromSign">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="createRequestFromSign">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="createRequestFromSignResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="sendRequest">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="sendRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="sendRequestResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDocument">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteDocument">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteDocumentResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="insertSigners">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="insertSigners">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="insertSignersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteSigners">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="deleteSigners">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="deleteSignersResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDocumentAccess">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDocumentAccess">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDocumentAccessResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateDateNextSigner">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="updateDateNextSigner">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="updateDateNextSignerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="pfirmaException">
        <soap:fault name="pfirmaException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ModifyServiceService">
    <wsdl:port binding="pfirma:ModifyServiceServiceSoapBinding" name="ModifyServicePort">
      <soap:address location="http://10.1.125.220:8080/pfirma/servicesv2/ModifyService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>